.jumbotron {
    background: #3F0083;
    color: white;
    padding-bottom: 80px;
}

.title,
.navbar-brand {
    font-family: 'Ramabhadra', sans-serif;
}

a.concourse-brand:link,
a.concourse-brand:visited,
a.concourse-brand:active,
a.concourse-brand:hover {
    color: white;
}

.concourse-brand {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 12px;
    margin-right: 25px;
    font-size: 16pt;
}

.table {
    table-layout: fixed;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.concourse-logo {
    max-width: 35px;
    margin: auto;
    margin-top: 8px;
    margin-right: 20px;
}

.tableheader {
    text-align: center;
}

.noteheader {
    text-align: center;
}

.notemetadata {
    max-width: 75%;
    font-family: 'Roboto Light', sans-serif;
}

#notemetadata > * {
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
}

.jumbotron .btn-primary {
    background: #3F0083;
    border-color: white;
}

.btn {
    font-family: 'Roboto', sans-serif;
}

.alert {
    font-family: 'Roboto Light', sans-serif;
}

.jumbotron .btn-primary:hover {
    background: #5400ad;
}

.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em;
}

.navbar + .jumbotron {
    margin-top: -20px;
}

.jumbotron .logo {
    display: block;
    background: #3F0083;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
}

.glyphicon-user img {
    width: auto;
    height: 100%;
    display: block;
}

.jumbotron .logo img {
    max-width: 100%;
    max-height: 100%;
}
